# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
web-build/

# Expo
.expo/
expo-env.d.ts

# TypeScript
*.tsbuildinfo

# Misc
*.pem
